@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

:root {
   --bg: #060211;
   /* Color de fondo principal */
   --card: #0b031a;
   /* Fondo de tarjeta primaria */
   --card2: #1c2333;
   /* Fondo de tarjeta secundaria */
   --border: #7e67ac;
   /* Color de bordes */
   --text: #e6edf3;
   /* Color principal del texto */
   --muted: #8b949e;
   /* Color de texto secundario / apagado */
   --accent: #9b048a;
   /* Color de acento principal (azul) */
   --accent2: #300e1d;
   /* Color de acento secundario (naranja) */
}

*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background: var(--bg);
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   font-family: 'DM Sans', sans-serif;
   color: var(--text);
}

main {
   flex-grow: 1;
   padding: 2rem 1rem;
}

a {
   color: var(--accent);
   text-decoration: none;
}

a:hover {
   color: #e6d2d8;
}